<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>API_KEY</key>
    <string>${REVENUECAT_API_KEY}</string>
    <key>PUBLIC_SDK_KEY_IOS</key>
    <string>${REVENUECAT_PUBLIC_SDK_KEY_IOS}</string>
    <key>ENVIRONMENT</key>
    <string>${REVENUECAT_ENVIRONMENT}</string>
    <key>DEBUG_LOGS_ENABLED</key>
    <true/>
    <key>STORE_KIT_2_ENABLED</key>
    <true/>
    <key>ATTRIBUTION_ENABLED</key>
    <true/>
</dict>
</plist> 